:root {
  --color1: #7469b6;
  --color2: #ad88c6;
  --color3: #e1afd1;
  --color4: #ffe6e6;
}

* {
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
}

/*Body Styles*/

body {
  background-color: white;
  margin: 0;
}

h1 {
  font-size: 2em;
  text-align: center;
}

h2 {
  margin-top: 0;
  padding-top: 1em;
  font-size: 1.5em;
}

/*Navigation Styles*/

#navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 5em;
  background-color: var(--color1);
  align-items: center;
}

/*
#navbar > ul > li > a {
  text-decoration: none;
}

#navbar > ul > li > a:link {
  color: var(--color4);
}

#navbar > ul > li > a:hover {
  color: var(--color4);
}

#navbar > ul > li > a:visited {
  color: var(--color4);
}
*/

ul > li > a {
  text-decoration: none;
}

ul > li > a:link {
  color: var(--color4);
}

ul > li > a:hover {
  color: var(--color4);
}

ul > li > a:visited {
  color: var(--color4);
}

#navbar p {
  padding-left: 0.6em;
}

#navbar > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 300px;
  padding: 0;
}

#navbar > ul > li {
  list-style-type: none;
}

#navbar > ul::after {
  content: "";
  width: 150px;
}

/*Section Styling*/

#home {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
  padding-top: 6em;
  background-color: var(--color1);
}
#home > img {
  height: 50vw;
  min-height: 273px;
  padding: 0 2.5em;
}

#welcome-container {
  min-width: 100px;
  max-width: 300px;
}

#welcome-container > p {
  max-width: 280px;
  text-align: left;
}

.page-section {
  width: 95%;
  margin: 0 auto;
  padding: 1em 0;
}

#about-section-container {
  background-color: var(--color2);
}

#about-topics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.about-topic {
  width: 80%;
  border-radius: 1em;
  margin: 0.5em auto;
  padding: 0 0.6em;
  max-width: 26em;
}

#navbar p,
#about h2,
.about-topic h3,
.about-topic p,
#projects h2,
#projects p,
.project h3,
.project figcaption,
#contact h2,
#contact p {
  color: var(--color4);
}

.about-topic h3,
.about-topic p {
  text-align: left;
}

#projects-section-container {
  background-color: var(--color1);
}

#project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project {
  width: 80%;
  border-radius: 1em;
  margin: 0.5em auto;
  background-color: var(--color2);
}

.project h3 {
  margin-top: 1em;
}

.project p {
  width: 80%;
  margin: 1em auto;
}

.project li {
  text-align: left;
}

.project figure {
  margin: 0 auto 1em auto;
}

.project img {
  height: 50vw;
  min-height: 50px;
  max-height: 300px;
}

#contact {
  width: 80%;
}

#contact p {
  margin: 0 auto;
  text-align: left;
}

#contact li {
  color: var(--color4);
  text-align: left;
  margin: 0 auto;
}

.contact-form {
  background-color: var(--color3);
  border-radius: 20px;
  width: 80%;
  margin: 1em auto 0 auto;
  padding: 1em 3em;
}

.contact-form label {
  display: block;
  text-align: left;
  color: black;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 1em;
  border: 1px solid black;
  border-radius: 5px;
}

.contact-form textarea {
  min-height: 5em;
}

/*footer*/

/*desktop*/

@media (min-width: 769px) {
  body {
    max-width: 100%;
  }

  h1 {
    font-size: 4em;
    text-align: left;
  }

  /*
  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 2em;
  }

  p {
    font-size: 1.5em;
  }
  */

  #home {
  }

  #welcome-container {
    max-width: 500px;
  }

  .page-section {
    width: 60%;
    margin: 0 auto;
    padding: 2em 0;
  }

  #home > img {
    height: 50vw;
    min-height: 273px;
    max-height: 700px;
    padding: 0;
  }

  #contact {
    width: 60%;
  }

  #projects {
    width: 80%;
  }

  .project {
    width: 30%;
    min-width: 400px;
  }

  .project img {
    min-height: 50px;
    height: 30vw;
  }
}
