:root {
  --color1: #005569;
  --color2: #007c91;
  --color3: #fdfdfd;
  --color4: white;
  --color5: white;

  --font-h1: "Trocchi";
  --font-heading: "Noto Serif";
  --font-body: "ABeeZee";

  --project-width-desktop: 35vw;
}

* {
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color3);
}

h1 {
  font-family: var(--font-h1), Garamond;
  font-size: 2em;
  font-weight: 300;
  color: black;
}

h2 {
  font-family: var(--font-heading), Garamond;
  margin-top: 0;
  padding-top: 1em;
  font-size: 1.5em;
  text-decoration: underline;
}

h3 {
  font-family: var(--font-heading), Garamond;
}

p{
  text-align: left;
}

p,
li,
figcaption,
a {
  font-family: var(--font-body), Arial;
}

a,
#contact strong {
  font-size: inherit;
}

/* Navigation Styles */
#navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0.2em 0;
  background-color: var(--color2);
  z-index: 99;
}

#navbar img {
  height: 5em;
  padding-left: 1em;
}

ul > li > a {
  text-decoration: none;
  padding: 0.2em;
  color: var(--color4);
}

ul > li > a:hover {
  background-color: var(--color1);
  border-radius: 5px;
}

#navbar p {
  padding-left: 0.6em;
  color: var(--color4);
}

#navbar > ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 300px;
  width: 70%;
  padding: 0;
}

#navbar > ul > li {
  list-style-type: none;
}

/* Section Styling */
#home {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
  padding-top: 6em;
}

#home > img {
  height: 50vw;
  padding: 0 2.5em;
  filter: drop-shadow(0.2em 0.2em #007c9115);
}

#welcome-container {
  max-width: 300px;
}

#welcome-container > p {
  max-width: 280px;
  text-align: left;
}

.page-section {
  width: 95%;
  margin: 0 auto;
  padding: 1em 0 2.5em 0;
}

#about-section-container,
#contact-section-container {
  background-color: var(--color2);
}

#about-topics,
#project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.about-topic {
  max-width: 30em;
  width: 80%;
  border-radius: 1em;
  margin: 0.5em auto;
  padding: 0 2em;
  background-color: var(--color1);
}

.about-topic:hover{
  filter: drop-shadow(5px 5px #00556975)
}

.about-topic:hover h3{
  text-decoration: underline;
  text-decoration-color: white;
}

.about-topic h3,
.about-topic p,
#about h2,
.project h3,
.project figcaption,
#contact h2,
#contact p {
  color: var(--color5);
}

#projects h2{
  color: black;
}

.project {
  max-width: 30em;
  /*min-width: 15em;*/
  width: 80%;
  border-radius: 1em;
  margin: 0.5em auto;
  padding: 0 0.6em;
  background-color: var(--color1);
}

.project h3 {
  margin-top: 1em;
}

.project figure {
  margin: 0 auto 1em auto;
}

.project figcaption {
  text-align: left;
  padding: 0 15%;
}

.project img {
  max-width: 300px;
  max-height: 300px;
  width: 70%;
  transition: filter 0.3s;
}

.image-container {
  position: relative;
  height:auto;
  width: 100%;
}

p.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Offset for true centering */
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: white; /* Text color */
  padding: 10px 20px; /* Padding around the text */
  border-radius: 5px; /* Rounded corners */
  opacity: 0; /* Start with hidden text */
  transition: opacity 0.3s; /* Smooth transition effect */
  text-align: center;
  width: auto;
}

.image-container:hover .overlay-text {
  opacity: 1; /* Make the text visible on hover */
}

.image-container:hover img {
  filter: blur(5px); /* Make the text visible on hover */
}

#contact {
  width: 80%;
}

#contact p,
#contact li {
  margin: 0 auto;
  text-align: left;
  color: var(--color4);
}

#contact-flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#contact li {
  list-style-type: none;
}

#contact ul {
  padding-left: 0;
}

.contact-form {
  width: 100%;
  margin: 1em auto;
  padding: 1em 2em;
  background-color: var(--color1);
  border-radius: 20px;
}

.contact-form label {
  display: block;
  text-align: left;
  color: white;
  font-family: var(--font-body), Arial;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 1em;
  border: 1px solid black;
  border-radius: 5px;
  text-align: left;
}

.contact-form input {
  min-height: 2em;
}

.contact-form textarea {
  min-height: 5em;
}

/* Desktop Styles */
@media (min-width: 769px) {
  body {
    max-width: 100%;
  }

  h1 {
    font-size: 4em;
    text-align: left;
  }

  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 2em;
  }

  figcaption,
  li {
    font-size: 1em;
  }

  #navbar img {
    height: 10vh;
  }

  #navbar > ul {
    max-width: 400px;
  }

  #navbar > ul::after {
    display: none;
  }

  .page-section {
    width: 60%;
    margin: 0 auto;
    padding: 6em 0;
  }

  #home {
    min-height: 100vh;
    height: auto;
    justify-content: center;
    flex-wrap: nowrap;
  }

  #home > img {
    max-height: 70vh;
    min-height: 475px;
    padding: 2em 1em 2em 4em;
    border-radius: 50%;
    filter: drop-shadow(0.5em 0.5em #007c9115);
  }

  #welcome-container {
    max-width: 800px;
  }

  #about-section-container {
    min-height: 100vh;
  }

  #about-page-section {
    padding-top: 0;
  }

  #about-topics {
    flex-direction: column;
    align-content: center;
  }

  .about-topic {
    max-width: 40em;
  }
  #projects-section-container {
    min-height: 60em;
  }

  #projects {
    width: 80%;
  }

  .project {
    max-width: none;
    width: var(--project-width-desktop);
    margin: 2em 0.5em;
  }

  .project img {
    max-width: 25vw;
    max-height: 25vw;
  }

  #project-container::after {
    content: "";
    margin: 2em 0.5em;
    width: var(--project-width-desktop);
  }

  #contact-section-container {
    height: auto;
  }

  #contact {
    width: 60%;
  }

  #contact p {
    text-align: left;
    max-width: 600px;
    margin: auto auto;
  }

  #contact li {
    max-width: 600px;
  }

  .contact-form {
    max-width: 620px;
    width: 50%;
    margin: 0 0;
  }
}
